<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants Apps</title>
</head>
<body>
    <a href="#content" class="skip-link" role="button">Skip to content ?</a>
    <div class="listhp">
        <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
        <div class="logohp">Restaurants Apps</div>
        <div class="logohp">&nbsp;</div>
    </div>
    <nav id="drawer" class="settinghp" role="navigation">
        <ul class="settinglisthp">
            <li class="itemhp"><a href="">Home</a></li>
            <li class="itemhp"><a href="">Favorite</a></li>
            <li class="itemhp"><a href="">About Us</a></li>
        </ul>
    </nav>
    <nav class="nav" role="navigation">
        <a class="logo" href="#">Restaurants Apps</a>
        <ul class="settingpc">
            <li class="itempc"><a href="">Home</a></li>
            <li class="itempc"><a href="">Favorite</a></li>
            <li class="itempc"><a href="">About Us</a></li>
        </ul>
    </nav>
    <div class="hero hero-background">
        <div class="hero_body">
            <h1 class="hero_title">Restaurants Apps</h1>
        </div>
    </div>
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - Restaurants Apps</p>
    </footer>
</body>
</html>